{% include 'base.html.twig' %}
{% block body %}


    
        <header>
            <h2>Carrito de compras</h2>
        
            <div>
                <button><b>Ver orden</b></button>
                <a href="{{ path('app_logout') }}">
                <button><b>Salir</b></button>
                </a>
            </div>
        
        </header>

{% endblock %}